*.pyc

save/
log/

tags

# Ignore PyCharm idea files
.idea
__pycache__

# caches
*.h5

# Data
data/*
model-checkpoints/*
processed-data/*
training-histories/*
model-piloted-runs/*
console-log/*
junk/*
history/*
histories/*
logs/*
airsim/*
visualbackprop/*
setup_path.py
*~

# pyenv
.python-version

# keras
.cache/*
.keras/*

# vim
*.swp

aaron*
*_logs
tuner_tests/
*.vscode
